body, html {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: #FFB02E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    background-color: white;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.btn {
    font-family: cursive;
}

.resultado {
    font-size: 1.1em;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
}



